* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Roboto Mono;
}

html {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}
