.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background: linear-gradient(to top, #4a00e0, #8e2de2);
}

.cardFront {
  width: 380px;
  height: 240px;
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardFront div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  word-spacing: 6px;
}

.cardFront > span {
  font-size: clamp(22px, 2.5vw, 27px);
  letter-spacing: 4px;
  margin-bottom: 25px;
}

.cardFront div span {
  font-size: 16px;
}

.cardFront div span:first-child {
  text-transform: uppercase;
}

.logoFront {
  width: 35px;
  align-self: flex-start;
}

.cardBack {
  width: 380px;
  height: 240px;
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.blackstripe {
  background-color: #333333;
  width: 100%;
  height: 60px;
}

.logoBack {
  width: 35px;
  align-self: center;
  margin: 30px 0;
}

.cvcText {
  text-align: right;
  padding-right: 12px;
}

@media only screen and (max-width: 767px) {
  .main {
    width: 100%;
  }
}
